/* 
!.gitignore
!readme.md


!daily-skills/
!advanced-things/
!professional-things/
!software-things/
!stash/


!.annotations.md
!.html.md
!.markdown.md
!.point-sample-for-applications.md
!.rules.md
!.mouns.md
!.git-commands.md
!.mermaid.md






